a:active {
  color: rgb(0, 0, 0);
 }
 a:link {
   color:black !important;
 }

 .linkBorder:hover {
   background-color: rgb(4, 140, 173);
 }

 .LogoClear {
  height: auto;
  width: auto;
  max-height: 150px;
  max-width: 300px;
 }

 .header {
   padding-left: 0px !important;
   padding-top: 0px !important;
   padding-top: 0px !important;
   height: 78px;
   background-color: rgb(4, 140, 173);
 }

.navbar {
  padding-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px!important;
}

.navbar-brand {
  padding-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* -------ANIMATION-BUTTON------- */

  /* top border */
  .top-leftStart:before{
    border-top: 1px solid rgb(0, 0, 0);
    transition-timing-function: linear;
  }

  /* bottom border */
  .top-leftStart:after{
    border-bottom: 1px solid rgb(0, 0, 0);
    transition-timing-function: ease-in;
  }

  /* left border */
  .top-leftStart .ui-border-element:before{
    border-left: 1px solid rgb(0, 0, 0);
    transition-timing-function: ease-out;
  }

  /* right border */
  .top-leftStart .ui-border-element:after{
     border-right: 1px solid rgb(0, 0, 0);
     transition-timing-function: ease-in-out;
  }