.name {
  color: rgb(11, 116, 148);
  text-shadow: 1px px rgb(208, 208, 208);
 }

 .LogoClear {
  height: auto;
  width: auto;
  max-height: 150px;
  max-width: 300px;
 }


 /* --------LogoAnimation---------- */

.navbar {
  padding-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar-brand {
  padding-left: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}