.About {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(11, 116, 148);
    text-shadow: 1px 1px rgb(208, 208, 208);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media all and (max-width: 699px) and (min-width: 300px) {
    .About {
    margin-left: 20px;
    margin-right: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
}  
