.my-scroll-bar-class {
    background-color: rgb(4, 140, 173);
}

.Footer {
    bottom: 0 !important;
    overflow: hidden;
    align-items: stretch;
    position: fixed;
    width:100%;
}

.portimgborder {
    background-color:  rgb(4, 140, 173)!important;
    padding-left: 0px !important;
    padding-right: 3px !important;
    padding-top: 3px !important;
    padding-bottom: 2px !important;
    bottom: 0 !important;
}

.portimgborder2 {
    background-color: rgb(255, 255, 255);
    padding: 0px !important;
}

.portimg {
    height: 120px !important;
}

.footerSpacer {
    width: 120px !important;
    height: 120px !important;
    background-color: rgb(255, 255, 255);
}