.Footer {
    font-weight: 500;
    color: rgb(11, 116, 148);
    text-shadow: .5px .5px rgb(0, 0, 0);;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width:100%;
    height:100px;
    background:rgb(255, 255, 255);
}